+/bin/bash
+/usr/sbin/sshd
+/bin/busybox
+/sbin/getty
+/bin/login
/etc/passwd
/etc/shadow
/etc/group
/etc/nsswitch.conf
/etc/resolv.conf
/etc/locale.alias
/usr/lib/locale/locale-archive
/etc/localtime
?+/lib/i386-linux-gnu/libnss_files.so.2
?+/lib/i386-linux-gnu/i686/nosegneg/libnss_files.so.2
?+/lib/x86_64-linux-gnu/libnss_files.so.2
/etc/ld.so.cache
+/bin/ls
+/bin/ps
+/usr/bin/killall
# even though I don't use NIS this is loaded
?+/lib/i386-linux-gnu/libnss_nis.so.2
?+/lib/i386-linux-gnu/i686/nosegneg/libnss_nis.so.2
?+/lib/x86_64-linux-gnu/libnss_nis.so.2
%/etc/memlockd.d
