+/bin/bash
+/usr/sbin/sshd
+/bin/busybox
+/sbin/getty
+/bin/login
/etc/passwd
/etc/shadow
/etc/group
/etc/nsswitch.conf
/etc/resolv.conf
/usr/share/locale/locale.alias
/etc/mtab
/etc/localtime
+/lib/tls/i686/cmov/libnss_files.so.2
+/lib/tls/i686/cmov/libnss_compat.so.2
# even though I don't use NIS this is loaded
+/lib/tls/i686/cmov/libnss_nis.so.2
/etc/ld.so.cache
